<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Future Fridges</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="ItemList" >
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Manage Items
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="ManageUsers" >
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Manage Users
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="OrderConfirm">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Confirm Orders
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Account">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Manage Account
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Deliveries">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Check Deliveries
                </NavLink>
            </div>

            <MatButtonLink Href="/Login"><span class="oi oi-account-logout" aria-hidden="true"></span>Sign Out</MatButtonLink>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
