@page "/Account"

<h3>View all users</h3>
<!--Change titles to more appropriate ones -->
<MatSelect Label="Pick a User" Outlined="true" TValue="string">
    <MatOptionString></MatOptionString>
    <MatOptionString Value="grains">Bread, Cereal, Rice, and Pasta</MatOptionString>
    <MatOptionString Value="vegetables">Vegetables</MatOptionString>
    <MatOptionString Value="fruit">Fruit</MatOptionString>
</MatSelect>
<h3>Add role</h3>

<MatTextField @bind-Value="inputUsername" Label="Username"></MatTextField>
<MatTextField @bind-Value="inputRole" Label="Role"></MatTextField>

<MatButton @onclick="() => addRole(inputUsername,inputRole)">Add User Role</MatButton>
<!-- Send error message if the user doesn't already have a role, or role already exists-->
<MatButton @onclick="() => deleteRole(inputUsername, inputRole)"></MatButton>