@page "/Audit"
@using MatBlazor

    @if (currentUserRole == null){
    }else if (currentUserRole.Contains("Admin")){
    <div>

    <h2>Items with expired stock</h2>
    
    @foreach (var x in allExpStock){
        <p>Item id: @x.ItemId</p>
        <p>quantity: @x.Quantity</p>
        <p>Expiry Date: @x.ExpiryDate</p>
    }

    <p>
        If expired stock has been removed, please delete them from the system below.
    </p>

    <MatButton @onclick="() => deleteExpStock() "> Delete Expired Stock</MatButton>

    @if(deletionSuccess == "True"){
        Toaster.Add("End of day tasks completed", MatToastType.Success, "End of Day");
        ToasterStatus();
    }else if (deletionSuccess == "False"){
        Toaster.Add("End of day failed", MatToastType.Danger, "End of Day");
        ToasterStatus();
    }


    <h2>View audit history </h2>
    <p> Enter how many days worth of auditing history you would like to view.</p>
    <p> History will be returned as a downloadedable file.</p>
    <p> Specify ID for a specific item if you do not want full history.</p>

    <p>
    <MatTextField @bind-Value="@inputHistory" Label="Days"></MatTextField>
    </p>
    <MatButton @onclick="() => getAuditHistory(inputHistory)"> Download Audit History</MatButton>

    @if (auditSuccess == "False")
    {
        Toaster.Add("Audit could not be displayed", MatToastType.Warning, "Audit");
        ToasterStatus();
    }



</div>
}
else{
    <p>You do not have authorisation to view this page.</p>
}