@page "/"
@using MatBlazor

<link href="_content/MatBlazor/dist/matBlazor.css" rel="stylesheet" />
<link href="~/css/Forms.css" rel="stylesheet" />

<div class="formTitle">
    <h1>Welcome to the Future Fridges Stock Management System</h1>
    <h3 class="mat-subtitle1">Please enter your login details to log in</h3>
</div>

@if (currentUserRole == null){
<!-- The form the user will enter their login details into -->
<div class="formInput">
    <p>
        <MatTextField Label="Username" @bind-Value="@inputUsername"></MatTextField>
    </p>
    <p>
        <MatTextField Label="Password" @bind-Value="@inputPassword"></MatTextField>
    </p>
    <MatButton Raised="true" @onclick="() => userLogin(inputUsername,inputPassword)"> Login</MatButton>
    <br />
    <br />
    <br />
    <MatButton @onclick="() => SignUpPageRedirect()">Register A New Account</MatButton>
    @if (loginSuccess == "False"){
    Toaster.Add("Login Unsuccessful.", MatToastType.Warning, "Login");
    ToasterStatus();
    }
</div>
}else{
    <div class="successMessages">
        <MatHeadline6>You have already logged in.</MatHeadline6>
    </div>
}