@page "/ManageUsers"
@using MatBlazor

<link href="_content/MatBlazor/dist/matBlazor.css" rel="stylesheet" />
<link href="css/manageUsers.css" rel="stylesheet" />

<MatHeadline3>Manage Users</MatHeadline3>
@if (currentUserRole == null)
{
    <p> Please log in to view this page.</p>
}
else if (currentUserRole.Contains("Admin"))
{
    <MatTabGroup>
        <!--The tab where a new user can be added into the application-->
        <MatTab Label="Add User">
            <div class="manageUsersSubtitle">
                <MatHeadline4> Add User</MatHeadline4>
            </div>
            <div class="userInput">
                <p>
                    <MatTextField Label="Username" @bind-Value="@inputUsername"></MatTextField>
                </p>
                <p>
                    <MatTextField Label="Password" @bind-Value="@inputPassword"></MatTextField>
                </p>
                <p>
                    <MatTextField Label="Email" @bind-Value="@inputEmail"></MatTextField>
                </p>
                <MatButton @onclick="() => addUser(inputUsername,inputPassword, inputEmail)"> Add New User</MatButton>
            </div>
            <!--Logic for the Toaster popup-->
                @if (additionSuccess == "True"){
                    Toaster.Add("User has been successfully added.", MatToastType.Success, "User Addition");
                    ToasterStatus();
                } else if (additionSuccess == "False")
                {
                    Toaster.Add("User registration failed.", MatToastType.Warning, "User Registration");
                    ToasterStatus();

                }
        </MatTab>
        <!--The tab where a user's account can be deleted-->
        <MatTab Label="Delete User">
            <div class="manageUsersSubtitle">
                <MatHeadline4> Delete User</MatHeadline4>
            </div>
            <MatList>
                <div class="deleteUsersList">
                    @foreach (var user in @allUsers)
                    {
                        <div class="userContainer">
                            <div class="userDataContainer">
                                <p id="userName">@user</p>
                                <MatButton id="userDeleteButton" class="deleteUserButton" @onclick="() => deleteUser(user)">Delete User</MatButton>
                                <br>
                                <MatDivider id="userDivider"></MatDivider>
                            </div>
                        </div>
                    }
                </div>
            </MatList>

            <!--Toast on successfull or failure of deletion-->
            @if (successDelete)
            {
                Toaster.Add("User is successfully deleted.", MatToastType.Success, "User Deletion");
            }
        </MatTab>
    </MatTabGroup>
}else{
    <p> You do not have authorisation to view this page.</p>
}