
@page "/SignUp"
<h3>SignUp</h3>

<link href="_content/MatBlazor/dist/matBlazor.css" rel="stylesheet" />

<div>
    <p>
        <MatTextField Label="Username" @bind-Value="@inputUsername"></MatTextField>
    </p>
    <p>
        <MatTextField Label="Password" @bind-Value="@inputPassword"></MatTextField>
    </p>
    <p>
        <MatTextField Label="Email" @bind-Value="@inputEmail"></MatTextField>
    </p>
    <MatButton @onclick="() => userSignUp(inputUsername,inputPassword, inputEmail)"> Login</MatButton>

</div>
@code {

}
