.viewAuditHistory {
    margin-top: 50px;
}

.auditHistory, .viewAuditHistory {
    text-align: center;
}

.auditHistoryTitle {
    margin-bottom: 20px;
}

.expiredStockMessage{
    margin-top: 20px;
}
