/*For Login and Sign Up pages */
.formTitle, .formInput, .successMessages, .signUpMessages {
    text-align: center;
}

.formInput {
    margin-top: 150px;
}

.successMessages {
    margin-top: 520px;
}

.signUpMessages {
    margin-top: 100px;
}

.passwordRules {
    color: red;
}