.manageUsersSubtitle {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.userInput {
    text-align: center;
}

.deleteUsersList {
    margin-left: 20%;
    margin-right: 20%;
}

.userContainer {
    display: inline-block;
    width: 100%;
}

.userDataContainer {
    position: relative;
    float: left;
    width: 100%;
}

#userName {
    width: 20%;
    float: left;
}

#userDeleteButton {
    width: 30%;
    float: left;
}

#userDivider {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Media Queries for the Delete User Tab */
@media only screen and (max-width: 1200px) {
    #userName {
        width: 40%;
    }
    #userDeleteButton {
        width: 50%;
    }
}

@media only screen and (max-width: 440px) {
    .deleteUsersList {
        margin-left: 10%;
        margin-right: 10%;
    }
}
