/* Padding for subtitles inside MatTabs across the application */
.tabSubtitle {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Styling for the MatCard in the View Item Management tab */
.item-card {
    padding: 10px;
    padding-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

@media only screen and (max-width: 1250px) {
    .item-card {
        margin-left: 0;
        margin-right: 0;
    }
}

/* Styling for the Item ID in the View Item Management tab */
.itemID {
    color: grey;
}

.item-card, #pageTitle, .tabSubtitle, .itemInput, .viewItemText {
    text-align: center;
}

/* Styling for the Tab Group across the application*/
@media only screen and (max-width: 980px) {
    .mdc-tab-scroller__scroll-area {
        overflow-x: hidden !important;
    }
}